/*--------------------------------- Universal Selector ---------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    font-family: heebo, sans-serif;
    background-color: bisque;
}

.paint {
    box-shadow: 0px 0px 10px 2px;
}

.paragraph {
    font-size: 2.5rem;
}




/*-----container-1-----*/

.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.container-1 h1 {
    display: flex;
    font-size: 7rem;
<<<<<<< HEAD
    margin: 8rem 0rem;
=======
    height: 30rem;
    justify-content: center;
    align-items: center;
>>>>>>> main
}


/*-----info-----*/

.info {
    display: flex;
<<<<<<< HEAD
    justify-content: space-around;
=======
    justify-content: center;
>>>>>>> main
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    width: 50%;
<<<<<<< HEAD
    height: 40rem;
    margin-bottom: 10rem;
    margin-left: 2.5rem;
}
=======
    height: auto;
    margin-left: 2.5rem;
}

.info-paragraph {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
>>>>>>> main


.info ul {
    list-style-type: none;
}

.info-list-paragraph{
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

/*-----gallery-----*/

#gallery {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
}

#gallery h2 {
    margin-left: 2.5rem;
    margin-bottom: 10rem;
    font-size: 6rem;
    
=======
    height: 30rem;
}

#gallery h2 {
    font-size: 6rem;
>>>>>>> main
}


/*-----container-2-----*/

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.painting-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: inherit;
    margin-bottom: 20rem;
}


#paint-1 {
    height: auto;
    width: 38rem;
}

#paint-2 {
    height: auto;
    width: 38rem;
}

#paint-3 {
    height: auto;
    width: 38rem;
}

.wrap-paragraph {
    height: 30rem;
    width: 70rem;
}

