/*--------------------------------- Universal Selector ---------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    font-family: heebo, sans-serif;
}

/*--------------------------------- NAV BAR  ---------------------------------*/

header {
    position: absolute;
    top: 0rem;
    height: 8rem;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1rem);
}



.left-nav {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.open-nav-menu-container {
    display: flex;
    width: 148.99px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.open-nav-menu-logo {
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
    transition: opacity 0.4s;
}

.open-nav-menu-logo:hover {
    opacity: 0.7;
}


.open-nav-menu-logo:active {
    opacity: 0.5;
}

nav h1 {
    font-size: 6rem;
}

.right-nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#log-in {
    font-size: 4rem;
    font-weight: 300;
}

#log-in-logo {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8rem;
    height: 0rem;
    width: 275px;
    z-index: 100;
    backdrop-filter: blur(1rem);
    transition: all 0.4s;
    background-color: rgba(240, 248, 255, 0.399);
}

#types-of-art-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s; 
}

.nav-type-art {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 100%;
    border-bottom: 1px solid black;
    transition: all 0.4s;
    cursor: pointer;
}
.nav-type-art:hover {
    background-color: rgba(240, 248, 255, 0.562);
}

.nav-type-art a {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
}



/*--------------------------------- BANNER  ---------------------------------*/

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75rem;
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
}

/*--------------------------------- MAIN  ---------------------------------*/



.container-3 {
    width: 100%;
    height: 75rem;
    background-color: rgb(255, 255, 255);
}


/*--------------------- Romanticism  ---------------------*/

#Romanticism-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14rem;
    width: 100%;
}

#Romanticism-title {
    font-size: 6rem;
    font-weight: 500;
    text-shadow: -1px 1px 3px;
}

#Romanticism-paintings-container {
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


.Romanticism-paint {
    height: auto;
    width: 400px;
    box-shadow: 0px 0px 1rem;

}

/*--------------------------------- FOOTER  ---------------------------------*/

.container-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    width: 100%;
    background-color: rgb(179, 145, 215);
}

.container-4 h2 {
    font-size: 5rem;
}