/*--------------------------------- Universal Selector ---------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    font-family: sans-serif;
}

/*--------------------------------- NAV BAR  ---------------------------------*/

header {
    position: absolute;
    top: 0rem;
    height: 8rem;
    width: 100%;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1rem);

}



.left-nav {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.open-nav-menu-container {
    display: flex;
    width: 148.99px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.open-nav-menu-logo {
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
    transition: opacity 0.4s;
}

.open-nav-menu-logo:hover {
    filter: invert(20%);
}

nav h1 {
    font-size: 6rem;
}

.right-nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#log-in {
    font-size: 4rem;
    font-weight: 300;
}

#log-in-logo {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
}

.nav-menu {
    display: flex;
    position: fixed;
    top: 0;
    height: 100%;
    width: 0%;
    z-index: 200;
    backdrop-filter: blur(1rem);
    transition: all 0.7s;
}

.close-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin-right: 1rem;
}

.close-nav-menu-logo {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    opacity: 0;
}

.close-nav-menu-logo:hover {
    filter: invert(20%);
}

/*--------------------------------- BANNER  ---------------------------------*/

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70rem;
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
}

.container-2 h1 {
    font-size: 5rem;
    color: #fff;
}

/*--------------------------------- MAIN  ---------------------------------*/

.color-3 {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 58rem;
    left: 0; 
}

.container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50rem;
    background-color: rgb(145, 170, 215);
}

.container-3 h2 {
    font-size: 5rem;
}

/*--------------------------------- FOOTER  ---------------------------------*/

.color-4 {
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 108rem;
    left: 0; 
}

.container-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    width: 100%;
    background-color: rgb(179, 145, 215);
}

.container-4 h2 {
    font-size: 5rem;
}